@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("/fonts/xima_nova_bold-webfont.woff2") format("woff2");
  src: url("/fonts/xima_nova_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proxima_nova_ththin";
  src: url("/fonts/xima_nova_thin-webfont.woff2") format("woff2");s
  src: url("/fonts/xima_nova_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

  @font-face {
      font-family: 'proxima_nova_rgregular';
      src: url("/fonts/xima_nova_regular_copy-webfont.woff2") format('woff2');
      src: url("/fonts/xima_nova_regular_copy-webfont.woff") format('woff2');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'proxima_nova_ltlight';
        src: url("/fonts/xima_nova_light_copy-webfont.woff2") format('woff2');
        src: url("/fonts/xima_nova_light_copy-webfont.woff") format('woff');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'proxima_nova_blblack';
      src: url("/fonts/xima_nova_black-webfont.woff2") format('woff2');
      src: url("/fonts/xima_nova_black-webfont.woff") format('woff');
      font-weight: normal;
      font-style: normal;

  }
