body, html {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: "Palatino"; }

.title {
  color: #F97F79;
  font-size: 2rem;
  text-align: left; }

.text {
  color: #ABABAB;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: left; }

#main_nav ul {
  padding-left: 0;
  padding: 50px;
  margin: 0; }
  #main_nav ul li {
    display: inline-block;
    color: #ccc;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  #main_nav ul li.active {
    color: #F97F79; }
  #main_nav ul li:hover {
    color: #F97F79;
    cursor: pointer; }

.menu {
  display: none; }

@media only screen and (max-width: 590px) {
  .menu {
    z-index: 9999;
    color: white;
    font-size: 28px;
    position: absolute;
    left: 20;
    top: 20;
    z-index: 9999;
    cursor: pointer;
    display: block; }
    .menu::after {
      clear: both;
      content: "";
      display: table; }

  .menu.active {
    z-index: 9999;
    color: #F97F79;
    font-size: 28px;
    position: absolute;
    left: 20;
    top: 20;
    z-index: 9999;
    cursor: pointer;
    display: block; }
    .menu.active::after {
      clear: both;
      content: "";
      display: table; }

  #main_nav {
    display: none; }

  #main_nav.active {
    display: block; }
    #main_nav.active ul {
      padding-left: 0;
      padding: 50px;
      margin: 0; }
    #main_nav.active li {
      display: block;
      color: #ccc;
      list-style: none;
      padding: 20px;
      box-sizing: border-box; }
    #main_nav.active li.active {
      color: #F97F79; }
    #main_nav.active li:hover {
      color: #F97F79;
      cursor: pointer; } }
.hero {
  background-image: url(/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative; }
  .hero .overlay {
    background-color: rgba(219, 125, 115, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .hero .overlay .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .hero .overlay .wrapper h2 {
        z-index: 9999;
        color: #8e4f4b;
        font-family: "proxima_nova_blblack";
        font-size: 55px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0; }
      .hero .overlay .wrapper svg {
        position: absolute; }

@media only screen and (max-width: 590px) {
  .hero {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    transform: skewY(-10deg);
    margin-top: -40px; }
    .hero .overlay {
      background-color: rgba(219, 125, 115, 0.9);
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .hero .overlay .wrapper {
        transform: skewY(10deg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .hero .overlay .wrapper h2 {
          font-size: 38px; } }
#area1 .wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 90%;
  max-width: 90%;
  margin: 0 auto; }
  #area1 .wrapper .wrapper_left {
    width: 60%;
    padding-right: 100px; }
    #area1 .wrapper .wrapper_left .left_eins {
      padding-bottom: 10px;
      border-bottom: 1px solid #dfdfdf; }
      #area1 .wrapper .wrapper_left .left_eins .title {
        text-align: center; }
    #area1 .wrapper .wrapper_left .left_zwei {
      padding-top: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #dfdfdf;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden; }
      #area1 .wrapper .wrapper_left .left_zwei .eins .viereck {
        height: 150px;
        width: 150px;
        border: 1px solid white;
        background-image: url(/img/eins.png);
        background-position: center;
        background-size: cover; }
        #area1 .wrapper .wrapper_left .left_zwei .eins .viereck .overlay {
          background-color: rgba(0, 0, 0, 0.5);
          height: 150px;
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white; }
      #area1 .wrapper .wrapper_left .left_zwei .zwei {
        display: flex; }
        #area1 .wrapper .wrapper_left .left_zwei .zwei .viereck {
          height: 150px;
          width: 150px;
          border: 1px solid white;
          background-image: url(/img/sieben.jpg);
          background-position: center;
          background-size: cover; }
          #area1 .wrapper .wrapper_left .left_zwei .zwei .viereck .overlay {
            background-color: rgba(0, 0, 0, 0.7);
            height: 150px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white; }
      #area1 .wrapper .wrapper_left .left_zwei .drei {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        #area1 .wrapper .wrapper_left .left_zwei .drei .viereck {
          height: 150px;
          width: 150px;
          border: 1px solid white;
          background-image: url(/img/sieben.jpg);
          background-position: center;
          background-size: cover; }
          #area1 .wrapper .wrapper_left .left_zwei .drei .viereck .overlay {
            background-color: rgba(0, 0, 0, 0.7);
            height: 150px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white; }
    #area1 .wrapper .wrapper_left .left_drei {
      padding-top: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #dfdfdf; }
      #area1 .wrapper .wrapper_left .left_drei .title {
        text-align: center; }
      #area1 .wrapper .wrapper_left .left_drei .youtube {
        border-radius: 5%;
        box-shadow: 0px 80px 80px -50px rgba(86, 119, 119, 0.68); }
      #area1 .wrapper .wrapper_left .left_drei .text {
        padding-top: 50px; }
      #area1 .wrapper .wrapper_left .left_drei .mehr_predigten {
        color: #F97F79;
        text-decoration: underline; }
  #area1 .wrapper .wrapper_right {
    width: 30%;
    padding: 0px;
    background-image: url(/img/hand.svg);
    background-size: contain;
    background-repeat: no-repeat; }
    #area1 .wrapper .wrapper_right .right_eins {
      padding-bottom: 10px;
      border-bottom: 1px solid #dfdfdf; }
      #area1 .wrapper .wrapper_right .right_eins .title {
        margin-bottom: 0; }
      #area1 .wrapper .wrapper_right .right_eins .details {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
        color: #ABABAB; }
      #area1 .wrapper .wrapper_right .right_eins .right_title {
        text-align: left;
        margin: 0;
        color: #6F6F6F; }
      #area1 .wrapper .wrapper_right .right_eins .redner {
        text-align: left;
        line-height: 1.4rem;
        color: #E78B5E; }
        #area1 .wrapper .wrapper_right .right_eins .redner span {
          color: #A7A7A7; }

@media only screen and (max-width: 800px) {
  #area1 .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 90%;
    margin: 0 auto; }
    #area1 .wrapper .wrapper_left {
      width: 90%;
      padding-right: 0px;
      margin: 0 auto;
      max-width: 90%; }
      #area1 .wrapper .wrapper_left .left_drei {
        border-bottom: 0px solid #ABABAB; }
        #area1 .wrapper .wrapper_left .left_drei .youtube {
          width: 90%;
          max-width: 90%; }
        #area1 .wrapper .wrapper_left .left_drei .text {
          text-align: center; }
    #area1 .wrapper .wrapper_right {
      width: 80%;
      max-width: 80%;
      margin: 0 auto;
      padding: 20px;
      background-image: url(/img/hand.svg);
      background-size: contain;
      background-repeat: no-repeat; }
      #area1 .wrapper .wrapper_right .right_eins {
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf; }
        #area1 .wrapper .wrapper_right .right_eins .title {
          margin-bottom: 0; }
        #area1 .wrapper .wrapper_right .right_eins .details {
          display: flex;
          justify-content: space-between;
          font-size: 0.9rem;
          margin: 0;
          padding: 0;
          color: #ABABAB; }
        #area1 .wrapper .wrapper_right .right_eins .right_title {
          text-align: left;
          margin: 0;
          color: #6F6F6F; }
        #area1 .wrapper .wrapper_right .right_eins .redner {
          text-align: left;
          line-height: 1.4rem;
          color: #E78B5E; }
          #area1 .wrapper .wrapper_right .right_eins .redner span {
            color: #A7A7A7; } }
#area2 .title {
  text-align: center; }
#area2 .wrapper {
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
  width: 60%;
  max-width: 90%;
  margin: 0 auto;
  position: relative; }
  #area2 .wrapper #standort {
    z-index: 9999;
    border-radius: 5%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    max-width: 90%; }
  #area2 .wrapper #stecker {
    position: absolute;
    left: 10%;
    z-index: -1;
    max-width: 90%; }
  #area2 .wrapper .text {
    text-align: center;
    padding-top: 20px; }
  #area2 .wrapper .redner {
    line-height: 1.5rem;
    color: #E78B5E; }

#area3 .title {
  text-align: center; }
#area3 .wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  position: relative; }
  #area3 .wrapper form {
    max-width: 90%;
    margin: 0 auto; }
    #area3 .wrapper form label {
      margin: 0.7rem; }
    #area3 .wrapper form input, #area3 .wrapper form textarea {
      width: 100%;
      padding: 0.7rem 1rem;
      margin: 0.7rem;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box; }
    #area3 .wrapper form input[type=submit] {
      background-color: #F97F79;
      border: none;
      color: white; }

#nachricht {
  position: absolute;
  right: 10%; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282828; }
  footer nav {
    display: inline-block;
    padding: 30px;
    text-align: center; }
    footer nav a {
      text-decoration: none; }
      footer nav a li {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        padding: 10px;
        color: white;
        list-style: none;
        font-size: 0.9rem; }
      footer nav a li:hover {
        cursor: pointer;
        color: #F97F79; }

#gallerie {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex; }
  #gallerie .wrapper {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto; }
    #gallerie .wrapper .titel {
      text-align: center;
      padding: 0;
      margin: 0; }
    #gallerie .wrapper .container {
      max-width: 90%;
      margin: 0 auto;
      width: 90%; }
      #gallerie .wrapper .container .item {
        width: 32.33%;
        float: left;
        padding: 2px;
        margin: 2px;
        box-sizing: border-box;
        height: 300px;
        background-color: red;
        background-position: center center;
        background-size: cover; }
      #gallerie .wrapper .container .item-1 {
        background-image: url(/img/eins.png); }
      #gallerie .wrapper .container .item-2 {
        background-image: url(/img/zwei.png); }
      #gallerie .wrapper .container .item-3 {
        background-image: url(/img/drei.png); }
      #gallerie .wrapper .container .item-4 {
        background-image: url(/img/vier.png); }
      #gallerie .wrapper .container .item-5 {
        background-image: url(/img/fuenf.png); }
      #gallerie .wrapper .container .item-6 {
        background-image: url(/img/sechs.png); }
      #gallerie .wrapper .container .item-7 {
        background-image: url(/img/sieben.png); }
      #gallerie .wrapper .container .item-8 {
        background-image: url(/img/acht.png); }
      #gallerie .wrapper .container .item-9 {
        background-image: url(/img/neun.png); }

@media only screen and (max-width: 770px) {
  #gallerie .wrapper .container .item {
    width: 48%; } }
@media only screen and (max-width: 500px) {
  #gallerie .wrapper .container .item {
    width: 100%; } }
