---
---

body, html
  text-align: center
  -webkit-font-smoothing: antialiased
  font-family: 'proxima_nova_rgregular'
  margin: 0
  padding: 0

a
  text-decoration: none



// AREA1 -------------------------------------------------------------------

.hero::before
  content: ''
  position: absolute
  border-left: 1px solid rgba(234, 177, 125, 0.4)
  border-right: 1px solid rgba(234, 177, 125, 0.4)
  width: 3px
  left: 19%
  height: 120%
  z-index: 9998
  margin-top: 0px

.hero::after
  content: ''
  position: absolute
  border-bottom: 1px solid rgba(234, 177, 125, 0.4)
  border-top: 1px solid rgba(234, 177, 125, 0.4)
  width: 30%
  top: 30%
  left: 0
  height: 3px
  z-index: 9998
  margin-left: 50px


.hero
  background-image: url(/img/hero.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: 1500px
  height: 500px
  position: relative
  .overlay
    background-color: rgba(1, 1, 2, 0.69)
    height: 100%
    width: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    nav
      position: absolute
      top: 20
      ul
        padding-left: 0
      li
        display: inline-block
        color: white
        list-style: none
        padding-left: 20px
        padding-right: 20px
      li.active
        color: #EAB17D
    .wrapper
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      h2
        z-index: 99
        color: white
        font-family: 'proxima_nova_blblack'
        font-size: 55px
        padding-left: 20px
        padding-right: 20px
      svg
        position: absolute

.menu
  display: none


@media only screen and (max-width: 500px)
  .menu
    z-index: 9999
    color: white
    font-size: 28px
    position: absolute
    left: 20
    top: 20
    z-index: 9999
    cursor: pointer
    display: block

  .hero
    .overlay
      nav
        display: none

.hero
  .overlay
    nav.active
      position: absolute
      top: 0
      padding-top: 100px
      left: 0
      box-sizing: border-box
      display: block
      width: 34%
      height: 100vh
      background-color: black
      z-index: 9998
      ul
        padding-left: 0
      li
        display: block
        padding: 10px
        color: white
        list-style: none
        padding-left: 20px
        padding-right: 20px
      li.active
        color: #EAB17D



@media only screen and (max-width: 500px)
  .hero
    height: 300px
    .overlay
      nav
        ul
        li
        li.active
      .wrapper
        h2
          color: white
          font-family: 'proxima_nova_blblack'
          font-size: 33px
          padding-left: 20px
          padding-right: 20px
        svg
          position: absolute


// ALLGEMEINE STYLES -------------------------------------------------------------------



.title
  color: #EAB17D
  font-size: 2rem
  font-family: "proxima_nova_rgbold"

.text
  color: #6c6c6c
  margin: 0 auto
  line-height: 1.6rem
  span
    font-weight: bold


@media only screen and (max-width: 500px)
  .text
    font-size: .9rem
    color: #6c6c6c
    margin: 0 auto
    line-height: 1.5rem
    span
      font-weight: bold

  .title
    color: #EAB17D
    font-size: 1.5rem
    font-family: "proxima_nova_rgbold"
    margin-bottom: 5px

// AREA1 -------------------------------------------------------------------

#area1
  height: 281px
  width: 100%
  text-align: center
  padding-top: 30px
  padding-bottom: 30px
  width: 100%
  border-bottom-left-radius: 50% 20%
  border-bottom-right-radius: 50% 20%
  .wrapper
    width: 500px
    margin: 0 auto
    max-width: 90%

@media only screen and (max-width: 500px)
  .haende
    width: 50px

// AREA2 -------------------------------------------------------------------

#area2
  .wrapper::before
    content: ''
    position: absolute
    border-right: 1px solid rgba(197, 197, 197, 0.7)
    left: 50%
    height: 133.7%
    z-index: 999
    margin-top: 120px

@media only screen and (max-width: 1174px)
  #area2
    .wrapper::before
      content: ''
      position: absolute
      border-right: none
      left: 50%
      height: 143.7%
      z-index: 999
      margin-top: 40px

#area2
  .wrapper
    width: 100%
    margin: 0 auto
    max-width: 90%
    margin-top: -20px
    .wrapper1
      width: 45%
      float: left
      .wrapper1_img
        display: flex
        justify-content: center
        align-items: center
      .wrapper1_text
        text-align: left
        h2
          text-align: center
          padding-bottom: 30px

    .wrapper2
      width: 45%
      float: right
      .wrapper2_img
      .wrapper2_text
        text-align: left
        h2
          text-align: center
          padding-bottom: 30px
        .wrapper2_eintrag
          padding-bottom: 80px
          .datum
            display: flex
            justify-content: space-between
            color: #BDBDBD
            h3
              margin: 0
            span
              color: #7C7C7C
          h2
            text-align: left
            color: #7C7C7C
            margin: 0
            padding-top: 10px
            padding-bottom: 10px
            font-size: 2rem



@media only screen and (max-width: 1174px)
  #area2
    .wrapper
      margin: 0 auto
      max-width: 90%
      margin-top: 40px
      .wrapper1
        width: 80%
        max-width: 90%
        margin: 0 auto
        float: none
        padding-bottom: 20px
        .wrapper1_img
          height: auto
          display: flex
          justify-content: center
          align-items: center
        .wrapper1_text
          text-align: center
          h2
            text-align: center
            padding-bottom: 10px

      .wrapper2
        height: auto
        padding-top: 0px
        padding-bottom: 50px
        padding-left: 0
        width: 100%
        float: none
        display: block
        border-left: none
        .wrapper2_img
          height: auto
          padding-top: 50px
        .wrapper2_text
          text-align: center
          max-width: 90%
          margin: 0 auto
          h2
            text-align: center
            padding-bottom: 30px
          .wrapper2_eintrag
            padding-bottom: 80px
            margin-right: 0
            .datum
              display: flex
              justify-content: space-between
              color: #BDBDBD
              h3
                margin: 0
              span
                color: #7C7C7C
            h2
              text-align: left
              color: #7C7C7C
              margin: 0
              padding-top: 10px
              padding-bottom: 10px
              font-size: 2rem
            .text
              text-align: left
              width: 100%
              max-width: 100%

@media only screen and (max-width: 500px)
  #area2
    .wrapper
      margin: 0 auto
      max-width: 90%
      margin-top: 40px
      .wrapper1
        width: 80%
        max-width: 90%
        margin: 0 auto
        float: none
        padding-bottom: 20px
        .wrapper1_img
          height: auto
          display: flex
          justify-content: center
          align-items: center
        .wrapper1_text
          text-align: center
          h2
            text-align: center
            padding-bottom: 10px

      .wrapper2
        height: auto
        padding-top: 0px
        padding-bottom: 50px
        padding-left: 0
        width: 100%
        float: none
        display: block
        border-left: none
        .wrapper2_img
          height: auto
          padding-top: 50px
        .wrapper2_text
          text-align: center
          max-width: 90%
          margin: 0 auto
          h2
            text-align: center
            padding-bottom: 30px
          .wrapper2_eintrag
            padding-bottom: 80px
            margin-right: 0
            .datum
              display: flex
              justify-content: space-between
              color: #BDBDBD
              h3
                margin: 0
                font-size: 1rem
              span
                color: #7C7C7C
            h2
              text-align: left
              color: #7C7C7C
              margin: 0
              padding-top: 5px
              padding-bottom: 10px
              font-size: 1.7rem
            .text
              text-align: left
              width: 100%
              max-width: 100%

@media only screen and (max-width: 500px) // Padding Bottom wegmachen
  #area2
    .wrapper
      margin: 0 auto
      max-width: 90%
      margin-top: 40px
      .wrapper1
        width: 80%
        max-width: 90%
        margin: 0 auto
        float: none
        padding-bottom: 20px
        .wrapper1_img
          height: auto
          display: flex
          justify-content: center
          align-items: center
        .wrapper1_text
          text-align: center
          h2
            text-align: center
            padding-bottom: 10px

      .wrapper2
        height: auto
        padding-top: 0px
        padding-bottom: 50px
        padding-left: 0
        width: 100%
        float: none
        display: block
        border-left: none
        .wrapper2_img
          height: auto
          padding-top: 50px
        .wrapper2_text
          text-align: center
          max-width: 90%
          margin: 0 auto
          h2
            text-align: center
            padding-bottom: 30px
          .wrapper2_eintrag:last-child
            padding-bottom: 0px
            margin-right: 0
            .datum
              display: flex
              justify-content: space-between
              color: #BDBDBD
              h3
                margin: 0
                font-size: 1rem
              span
                color: #7C7C7C
            h2
              text-align: left
              color: #7C7C7C
              margin: 0
              padding-top: 5px
              padding-bottom: 10px
              font-size: 1.7rem
            .text
              text-align: left
              width: 100%
              max-width: 100%

// GRAU -------------------------------------------------------------------


.silver1
  width: 100%
  height: auto
  position: absolute
  top: 52%
  left: 0
  max-width: 100%
  margin: 0 auto
  z-index: -999

@media only screen and (max-width: 500px)
  .silver1
    width: 100%
    height: auto
    position: absolute
    top: 30%
    left: 0
    max-width: 100%
    margin: 0 auto
    z-index: -999

.silver2
  width: 100%
  height: auto
  position: absolute
  top: 125%
  left: 0
  max-width: 100%
  margin: 0 auto
  z-index: -999

@media only screen and (max-width: 500px)
  .silver2
    width: 100%
    height: auto
    position: absolute
    top: 300%
    left: 0
    max-width: 100%
    margin: 0 auto
    z-index: -999

.silver3
  width: 100%
  height: auto
  position: absolute
  top: 275%
  left: 0
  max-width: 100%
  margin: 0 auto
  z-index: -999

@media only screen and (max-width: 500px)
  .silver3
    width: 100%
    height: auto
    position: absolute
    top: 150%
    left: 0
    max-width: 100%
    margin: 0 auto
    z-index: -999

.silver4
  width: 100%
  height: auto
  position: absolute
  top: 355%
  left: 0
  max-width: 100%
  margin: 0 auto
  z-index: -999

@media only screen and (max-width: 500px)
  .silver4
    width: 100%
    height: auto
    position: absolute
    top: 420%
    left: 0
    max-width: 100%
    margin: 0 auto
    z-index: -999

// -------------------------------------------------------------------




#area3
  display: inline-block
  width: 100%
  padding-top: 0px
  .wrapper
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
  .eins
    order: 1
  .zwei
    order: 3
    display: flex
    flex-direction: column
  .drei
    order: 2
    display: flex
  .viereck
    height: 150px
    width: 150px
    border: 1px solid white

  .viereck
    background-image: url(/img/test.png)
    background-size: cover
    .viereck_overlay
      background-color: rgba(0, 0, 0, 0.7)
      height: 150px
      width: 150px
      display: flex
      justify-content: center
      align-items: center
      transition: background-color ease-in 1s
      h3
        color: white
        margin: 0

  .viereck.gallerie1
    background-image: url(/img/galerie_1.jpg)
    background-size:cover
    background-position: center


  .viereck:hover
    cursor: pointer
    .viereck_overlay
      background-color: rgba(0, 0, 0, 0.0)
      height: 150px
      width: 150px
      display: flex
      justify-content: center
      align-items: center
      h3
        color: white
        margin: 0


@media only screen and (max-width: 492px)
  #area3
    display: inline-block
    width: 100%
    padding-top: 0px
    .wrapper
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
    .eins
      padding-top: 30px
      order: 1
    .zwei
      order: 3
      display: flex
      flex-direction: column
    .drei
      order: 2
      display: flex
      flex-direction: column
    .viereck
      height: 150px
      width: 150px
      border: 1px solid white


// AREA4 -------------------------------------------------------------------

#area4
  .wrapper
    padding-top: 50px
    padding-bottom: 100px
    position: relative
    max-width: 100%
    .small
      position: absolute
      left: 20%
      z-index: -9999
      width: 250px
    #anfahrt
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50)
      margin-left: 20px
      margin-right: 20px
      max-width: 90%
      width: 450px
    .weg
      padding-top: 100px
      width: 600px
      margin: 0 auto
      max-width: 90%
      .small_title
        color: #eab17d
        font-family: "proxima_nova_rgbold"
        margin: 0
      .auto
        width: 45%
        float: left
      p
        color: #727272
        font-family: 'proxima_nova_ltlight'
        line-height: 1.4rem
        margin-top: 5px
      .bus
        float: right
        width: 45%
    .adresse
      width: 600px
      display: inline-block
      padding-top: 20px
      .small_title
        color: #eab17d
        font-family: "proxima_nova_rgbold"
        letter-spacing: 0
        margin: 0
      p
        color: #727272
        font-family: 'proxima_nova_ltlight'
        margin-top: 5px
        span
          font-family: "proxima_nova_rgbold"


@media only screen and (max-width: 550px)
  #area4
    .wrapper
      padding-top: 50px
      position: relative
      max-width: 100%
      .small
        position: absolute
        left: 20%
        z-index: -9999
        width: 200px
        height: 200px
      .weg
        padding-top: 50px
        width: 600px
        margin: 0 auto
        max-width: 90%
        .small_title
          color: #eab17d
          font-family: "proxima_nova_rgbold"
        .auto
          width: 45%
          float: none
          margin: 0 auto
        .bus
          padding-top: 20px
          float: none
          width: 45%
          margin: 0 auto
      .adresse
        width: 45%
        display: inline-block
        padding-top: 20px
        .small_title
          color: #eab17d
          font-family: "proxima_nova_rgbold"
          letter-spacing: 0
          margin: 0

footer
  display: flex
  justify-content: space-around
  align-items: center
  background-color: #282828
  nav
    padding: 30px
    text-align: center
    a
      text-decoration: none
      li
        display: inline-block
        -webkit-font-smoothing: antialiased
        padding-left: 10px
        padding-right: 10px
        padding-bottom: 4px
        color: white
        list-style: none
        font-size: .9rem
      li:hover
        color: #eab17d



// GALLERIE -------------------------------------------------------------------

.gallerie_titel
  color: #EAB17D
  font-size: 2rem
  font-family: "proxima_nova_rgbold"
  margin-bottom: 50px
  margin-top: 50px

.container
  padding-top: 10px
  margin: 0 auto
  box-sizing: border-box
  max-width: 90%
  .item
    width: 32.33%
    float: left
    padding: 2px
    margin: 2px
    box-sizing: border-box
    background-image: url(/img/test.png)
    background-size: 600px
    background-position: center center
    height: 300px
  .item-1
    background-image: url(/img/eins.jpg)
  .item-2
    background-image: url(/img/zwei.jpg)
  .item-3
    background-image: url(/img/drei.jpg)
  .item-4
    background-image: url(/img/vier.jpg)
  .item-5
    background-image: url(/img/fuenf.jpg)
  .item-6
    background-image: url(/img/sechs.jpg)
  .item-7
    background-image: url(/img/sieben.jpg)
  .item-8
    background-image: url(/img/acht.jpg)
  .item-9
    background-image: url(/img/neun.jpg)



@media only screen and (max-width: 500px)
  .container
    padding-top: 10px
    margin: 0 auto
    box-sizing: border-box
    max-width: 90%
    .item
      width: 49.00%
      float: left
      padding: 2px
      margin: 2px
      box-sizing: border-box
      background-image: url(/img/test.png)
      background-size: 600px
      background-position: center center
      height: 300px
    .item-1
      background-image: url(/img/eins.jpg)
    .item-2
      background-image: url(/img/zwei.jpg)
    .item-3
      background-image: url(/img/drei.jpg)
    .item-4
      background-image: url(/img/vier.jpg)
    .item-5
      background-image: url(/img/fuenf.jpg)
    .item-6
      background-image: url(/img/sechs.jpg)
    .item-7
      background-image: url(/img/sieben.jpg)
    .item-8
      background-image: url(/img/acht.jpg)
    .item-9
      background-image: url(/img/neun.jpg)


// FULL SCREEN -----------------------------------------------------------------

.preview
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.8)
  z-index: 9999


.nicole
  width: 70%
  height: auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  overflow: scroll

.close
  font-weight: bold
  border: 0
  text-align: center
  border-radius: 50%
  height: 3rem
  width: 3rem
  cursor: pointer
  position: absolute
  top: 1rem
  left: 1rem
  
// Predigt -----------------------------------------------------------------

#predigt
  .wrapper
    padding-top: 50px
    max-width: 600px
    margin: 0 auto
    .predigt
      padding-top: 50px
      max-width: 90%
    .predigt-titel
      color: #696969
      padding-top: 10px
    .predigt-text
      color: #adadad
      font-family: 'proxima_nova_rgregular'
      line-height: 1.4rem
